@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,300;0,400;0,700;1,900&display=swap');
* {
    box-sizing: border-box; /*выбираем способ расчета с учетом рамки*/
}
a, button{
    transition: all .3s ease-in-out;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #f9f8fb;
  
}
.container{
    max-width: 1300px;
     
    }
header{
   
    top: 0;
    left: 0;
    right: 0;
}
 
.box--bg-blue, .box--servise,.box--gallery, .box--subscribe{
    min-height: 100vh;   
    display: flex;
    justify-content: right;
    align-items: center ;
    padding: 1rem 1rem 1rem 10rem ;      
}
.box--bg-blue{
    background-color:#00b1b1;
}
.box--servise{
    background-color: #70bfff;
    padding: 10rem 1rem 10rem 10rem ; 
}
.box--gallery{
    background-color: #ffe92f;
    padding: 1rem 1rem 1rem 10rem ; 
}
.box--subscribe{
    background-color: #fff;
    background-image: url(../img/blackbr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    position: relative;
    padding: 150px 1.5rem 0 15rem ; 
   }
   .box__text{
       display: flex;
       flex-direction: column;  
     
   }
   .items1, .items2, .items3, .items4{
       width: 410px;
       height: 100px;
       font-size: 2rem;
       font-weight: 700;
       margin: 15px 15px;         
       background-color: #fff;
       position: relative;
       display: flex;
       justify-content: space-between;  
       box-shadow: 10px 10px 10px rgba(0,0,0,0.22);
   }

   .items__text{
       padding: 35px;
       width: 70%;
       text-align: center;
   }

   
   .items__text::after{
       content: '';
       border-right: 2px solid black;
       top: 0;
       left: 120px;
       right: 100px;
       bottom: 0;      
       position: absolute;
   }
 .icon{
       padding: 30px;
       font-size: 40px;
   
   
 }
  
.menu{
       text-transform: uppercase;
       color: inherit;
       font-size: 1.6rem;
       font-weight: 700;
       padding: 100px 0 100px 0 ;
}

a{
    text-decoration: none;  
}

h1 ,h2, h3{
    margin: 0;
}

.text--bg-black {
    font-size: 4rem;
    font-weight: 900;
    color: #262626;
    padding: 0 0 100px 0;     
}
.section{
    padding: 0 20rem 0 0;
}

.text--left{
  width: 40%; 
  font-size: 1.7rem;
  font-weight: 300;
  color: #262626;
} 


.text--sm-wihte{
    font-size: 1.7rem;
    font-weight: 300;
    width: 80%;
    text-align: justify;
}
.text--bg-center {
    font-size: 6rem;
    font-weight: 900;    
    color: #262626;
    text-align: center;
}
.text--right{
    font-size: 4rem;
    font-weight: 900;     
    color: #ffffff;
    margin: 0 0 0 10rem;
}
.text--sm-black{
    font-size: 1.7rem;
    font-weight: 300;       
    color: #262626 ;
    text-align: center;
      
}
.text--bg-padding{
    padding: 10rem 0 0 0;
}
.text--subscrrible{
    width: 60%;
}

.logo{   
    font: 400  5rem 'Pacifico', cursive;
    color: inherit;
    padding: 0 1.5rem 0 15rem ; 
}
nav ul{
    padding: 0;
}
nav ul li{
    display: inline-block;
   
    
}
 nav ul li{
    margin-right: 40px; 
} 
nav ul li a{
    border-top: 3px solid transparent;
    padding-top: .5rem;

}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active{
    border-color: #ff6033;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero{
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center ; 
    background-image: url(../img/smpic/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 150px 1.5rem 0 15rem ;
    position: relative; 
   
     
}
.btn, .btn2, .btn3{
    color: white;   
    font-size: 2rem;
    font-weight: 300;    
    text-transform: uppercase;    
    box-shadow:  0 0 5px 2px  #7f7d85;
    padding: 10px 30px;
    margin: 10px; 
}
.btn{
    background-color: #ff6033;
    border: 2px solid #ff6033;
}
.btn:hover,
.btn:focus,
.btn:active{
    color: #ff6033;
    background-color: white;
}
.btn2:hover,
.btn2:focus,
.btn2:active{
    color: #5585a2;
    background-color: white;
}
.btn2{
    background-color: #5585a2;
    border: 2px solid #5585a2;
    display: inline-block;
    position: relative;
    transform: translate(220%, 0);
    margin: 50px 10px 100px 10px;
}
.btn3{
    background-color: #96b92c;
    border: 2px solid #96b92c;
    display: inline-block;
    position: relative;
    margin: 50px 10px 100px 10px;
}
.btn3:hover,
.btn3:focus,
.btn3:active{
    color: #5585a2;
    background-color: white;
}
.scrol{
    height: 50px;
    width: 30px;
    background-image: url(../img/smpic/scroll.png); 
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0); 
    position: absolute;
    opacity: .5;    
    color: transparent;    
}

.scrol:hover,
.scrol:focus,
.scrol:active{
    opacity: 1;
}

.footer{
    min-height: 100vh;
}

.footer--picture{
    background-image: url(../img/smpic/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 8.5rem 1rem 0 10rem ; 
   
}
.center{
    margin: 0 auto;
     width: 40%;
 }
.contact-form__input{
    color: white;
    background-color: #00c4c4;
    outline: none;
    padding: 15px 20px;
    margin: 7px;
    font-size: 15px;
    max-width: 400px;
    width: 100%;
}
.input--bg{
    color: white;
    background-color: #00c4c4;
    outline: none;
    white-space: normal;
    margin: 0 5px ;
    padding: 20px;
    font-size: 15px;
    max-width: 400px;
    width: 500px;
    height: 200px; 
  
    
}

.row{
    display: flex;
    flex-wrap: wrap;  
 
}
.col{
     --columns: 1; 
     --size: 1; 
     --offset:15px; 
     width: calc( (100% / var(--columns) ) * var(--size) - var(--offset) * 2);  
     margin: var(--offset); 
      background-color: transparent;
     margin: 15px;
}
h3{
    font-size: 17px;
    max-width: 700px;
}
.text--footer{
    font-size: 18px;
    max-width: 300px;
   
}
.col--1-2{
    --columns: 2;
   
    
}
.black{
  
    min-height: 30px;
    background-color: black;
    padding: 0;
    margin: 0;
}
.col--1-3{
    --columns: 3;
    size: 16px;
    color: white;
    text-align: center;
   }

.row--bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0px 150px 0px 150px; 
} 
 .col--logo-sm{
    --columns: 3;
    font: 400 2.5rem'Pacifico', cursive;
    text-align: center;
    color: white;
   
   
} 
.colortext {
    color: red;}
.tomato{
    position: relative;
    transform: translate(30%, 0);
  
}
.tomato--text{
    position	: absolute;
	top		: 250px;
	left		: 100px;
    width		: 100%;
    font-size: 6rem;
    font-weight: 900;     
    color: #ffffff;
    
}
.pic1{
    width: 770px;
    height: 560px;
}
.pic2{
    width: 370px;
    height: 270px;
    padding: 10px 100px 10px 10px;
 
}
.pic4{
    width: 580px;
    height: 407px;
}
.form{
    margin: 20px 17px 40px;
    width: 100%;  
    position: relative;
}
.contact-form__input1{
    color:#7f7d85 ;
    background-color:ffffff;
    border-color: #262626;
    outline: none;
    padding: 15px 20px;
    margin: 7px;
    font-size: 15px;
    max-width: 550px;
    
    width: 100%;
}

.text--btn{
    font-size: 2rem;
    font-weight: 700;
    margin: 50px;
}

